.photo-list {
    list-style: none;
    margin: 0 -10px;
    padding: 20px 0;
}

.photo-list > li {
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 20px);
    height: 260px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid darkgray;
}

.photo-list > li > img {
    display: inline-block;
    max-height: 240px;
    max-width: 100%;
    top: 10px;
}